## Node Config
NODE_ENV=development
PORT=3000

## API KEY
API_KEY=

## CORS Config
CORS_ENABLED=
CORS_ORIGIN=

## Rate Limitting Config
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=10

## DataBase Config
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SSL=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=

# LOGGING
LOG_LEVEL=debug
LOG_DIR=./logs
SERVICE_NAME=rag-chat-service

# Console colorized single-line (set to false to keep raw JSON):
PRETTY_LOGS=true

# Optional Loki:
LOKI_URL=http://localhost:3100
LOKI_BATCH_INTERVAL=5000
# LOKI_BASIC_AUTH=user:pass
LOKI_LABELS=